<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa tài khoản nhân viên</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../menu') %>
    <div class="admin-main">
        <%- include('../topbar') %>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quản lý tài khoản > Sửa</h4>
                <div class="table-responsive">
                    <form action="../edit/<%= staff.id %>" id="form_update-staff" class="table-form" method="post">
                        <div class="form-group table-form-group">
                            <label for="name">Tên nhân viên</label>
                            <input rules="required" class="form-control" type="text" name="name" id="name" value="<%= staff.name %>">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group table-form-group">
                            <label for="gender">Giới tính</label>
                            <select name="gender" id="gender" class="form-control">
                                <option value="1" <% if (staff.gender === 1) { %> selected <% } %> >Nam</option>
                                <option value="0" <% if (staff.gender === 0) { %> selected <% } %> >Nữ </option>
                            </select>
                        </div>
                        <div class="form-group table-form-group">
                            <label for="birthdate">Ngày sinh</label>
                            <% console.log(staff) %>
                            <input class="form-control" type="date" name="birthdate" id="birthdate" value="<%= staff.birthdate %>">
                        </div>
                        <div class="form-group table-form-group">
                            <label for="phone">Số điện thoại</label>
                            <input rules="required" class="form-control" type="text" name="phone" id="phone" value="<%= staff.phone %>">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group table-form-group">
                            <label for="address">Địa chỉ</label>
                            <input class="form-control" type="text" name="address" id="address" value="<%= staff.address %>">
                        </div>
                        <div class="form-group table-form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email" value="<%= staff.email %>">
                        </div>
                        <div class="form-group table-form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" value="<%= staff.password %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Sửa</button>
                        <a class="btn btn-secondary" href="../../staffs">Hủy</a>
                    </form>
                </div>
            </div>
        </div>

        <div id="toast"></div>

        <script src="/javascripts/validator.js"></script>
        <script src="/javascripts/toast.js"></script>

        <script>
            // Validator('#form_update-staff')
        </script>
    </div>
</body>
</html>
