<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TTCSN - Nhóm 16</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/base.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
<div class="main">
    <%- include('menu.ejs') %>
    <%- include('modal.ejs') %>
    <div class="content-section">
        <div class="grid content">
            <!-- Category -->
        
            <div class="category">
                <div class="category__header">DANH MỤC</div>
                <div class="category__body">
                    <% categories.forEach((category, index) => { %>
                        <% if (index % 2 === 0) { %>
                            <div class="grid_col-2 category-col">
                        <% } %>
                        
                        <a href="#" class="category-item">
                            <div class="category-item__img" style="
                                background-image: url('images/categories/<%= category.image %>');
                                background-size: 55px;
                                background-position: center;
                                background-repeat: no-repeat;">
                            </div>
                            <span class="category-item__name"><%= category.name %></span>
                        </a>
                        
                        <% if (index % 2 === 1 || index === categories.length - 1) { %>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div>

        <!-- Suggestion -->
        <div class="grid suggestion">
            <div class="suggestion__header">
                <h3
                    class="suggestion__header-title suggestion__header-title--active">
                    Gợi ý của hôm nay
                    <div class="suggestion__header-border"></div>
                </h3>
            </div>
            <div class="grid__row app-content">
                <div class="grid__col-12">
                    <!-- Product -->
                    <div class="grid__row">

                        <% products.forEach(product => { %>
                        <div class="grid__col-2 product">
                            <a href="" class="product-item product--favourite">
                                <div class="product__img"
                                    style="
                                        background-image: url('./images/products/<%= product.image%>');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    ">
                                    
                                </div>

                                <div class="product-body">
                                    <h3 class="product__name">
                                        <%= product.name %>
                                    </h3>

                                    <div class="product__discount">
                                        <div
                                            class="product__discount-price">
                                            10%
                                        </div>
                                    </div>

                                    <div class="product__info product__info--quantity">
                                        <span class="product__info-price"><%= product.price %></span>
                                        <span class="product__info-quantity">Còn <%= product.quantity %></span>
                                    </div>
                                </div>

                                <!-- <div class="product__favourite">
                                    <span>Yêu Thích</span>
                                </div> -->
                                <button 
                                    class="product-hover-footer" 
                                    data-id="<%= product.id %>" 
                                    data-quantity="<%= product.quantity %>"
                                    data-image="<%= product.image %>"
                                    data-name="<%= product.name %>"
                                    data-price="<%= product.price %>"
                                    >
                                    Thêm vào giỏ hàng
                                </button>
                            </a>
                        </div>
                        
                        <% }) %>
                    </div>
                </div>

                <!-- <button onclick="showInfoMessage()" class="btn btn-more"> -->
                <button class="btn btn-more">
                    Xem thêm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="scroll-to-top">
    <a
        class="scroll-to-top"
        onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>

<footer class="footer">
    <div class="about grid">
        <p>Đây là một dòng mô tả về shop</p>
        <p>Nhóm 16 - Học phần thực tập cơ sở ngành </p>
        <p>Thành viên: 1. Nguyễn Trung Hiếu; 2. Nguyễn Mạnh Hoàn; 3. Đào Quốc Huy </p>

    </div>

    <div class="contact">
        <div class="grid contact__content">
            <div class="contact__col">
                <h3>Chăm sóc khách hàng</h3>
                <a href="">Trung tâm trợ giúp</a>
                <a href="">Hướng dẫn bán hàng</a>
                <a href="">Thanh toán</a>
                <a href="">Vận chuyển</a>
                <a href="">Trả hàng & Hoàn tiền</a>
                <a href="">Chính sách bảo hành</a>
            </div>
            <div class="contact__col">
                <h3>Về chúng tôi</h3>
                <a href="">Giới thiệu về Nhóm 16</a>
                <a href="">Tuyển dụng</a>
                <a href="">Điều khoản</a>
                <a href="">Chính sách bảo mật</a>
                <a href="">Chính hãng</a>
                <a href="">Kênh người bán</a>
                <a href="">Chính sách bảo hành</a>
            </div>

            <div class="contact__col">
                <h3>Thanh toán</h3>
                <img  src="" alt="Thanh toán" width="80%">
                <h3>Đơn vị vận chuyển</h3>
                <img  src="" alt="Đơn vị vận chuyển" width="80%">
            </div>
            

            <div class="contact__col">
                <h3>Theo dõi chúng tôi trên</h3>
                <a href="https://www.fb.com/Seotoww">
                    <i class="fab fa-facebook"></i>
                    Facebook
                </a>
                <a href="https://www.fb.com/Seotoww">
                    <i class="fab fa-instagram"></i>
                    Instagram
                </a>
                <a href="https://www.fb.com/Seotoww">
                    <i class="fab fa-youtube"></i>
                    Youtube
                </a>
            </div>

            <div class="contact__col">
                <h3>Tải ứng dụng ngay thôi</h3>
                <a href=""class="download">
                    <img  src="images/QrCode.jpg" alt="qrcode" class="qrcode-img">
                    <div class="download__app">
                        <img  src="images/appstore.png" alt="Appstore" class="qr-img-app">
                        <img  src="images/ggplay.png" alt="Google Play" class="qr-img-app">
                    </div>

                </a>
            </div>
        </div>
    </div>
</footer>

<div id="toast"></div>

    <script src="javascripts/validator.js"></script>
    <script src="javascripts/convertPrice.js"></script> 
    <script src="javascripts/toast.js"></script>
    <script src="javascripts/index.js"></script>

    <script>
        Validator('#signup-form')
        Validator('#signin-form')
    </script>
    <%- include('../message.ejs') %>
</body>
</html>
